lmrkonjic_projekt/wadl/aerodromi.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
    <doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 3.0.1 2021-01-26 17:49:29"/>
    <grammars/>
    <resources base="http://localhost:8084/lmrkonjic_app_2/rest/">
        <resource path="aerodromi/">
            <method id="dajAerodrome" name="GET">
                <request>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="korime" style="header" type="xs:string"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="lozinka" style="header" type="xs:string"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="/{icao}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="icao" style="template" type="xs:string"/>
                <method id="dajAerodromICAO" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="korime" style="header" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="lozinka" style="header" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{icao}/meteoVrijeme/{dan}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="dan" style="template" type="xs:string"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="icao" style="template" type="xs:string"/>
                <method id="dohvatiMeteoVrijeme" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="korime" style="header" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="lozinka" style="header" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{icao}/letovi/{dan}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="dan" style="template" type="xs:string"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="icao" style="template" type="xs:string"/>
                <method id="dohvatiLetoveNaDan" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="korime" style="header" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="lozinka" style="header" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{icao}/letovi">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="icao" style="template" type="xs:string"/>
                <method id="dohvatiLetove" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="korime" style="header" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="lozinka" style="header" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{icao}/meteoDan/{dan}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="dan" style="template" type="xs:string"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="icao" style="template" type="xs:string"/>
                <method id="dohvatiMeteoDan" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="korime" style="header" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="lozinka" style="header" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>
