lmrkonjic_projekt/wadl/dnevnik.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
    <doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 3.0.1 2021-01-26 17:49:29"/>
    <grammars/>
    <resources base="http://localhost:8084/lmrkonjic_app_2/rest/">
        <resource path="dnevnik/">
            <method id="dodajZapis" name="POST">
                <request>
                    <representation mediaType="application/json"/>
                </request>
                <response>
                    <representation mediaType="*/*"/>
                </response>
            </method>
            <resource path="/{korisnik}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="korisnik" style="template" type="xs:string"/>
                <method id="dohvatiZapiseKorisnika" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="korime" style="header" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="lozinka" style="header" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{korisnik}/broj">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="korisnik" style="template" type="xs:string"/>
                <method id="dohvatiBrojZapisa" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="korime" style="header" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="lozinka" style="header" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>
